name: CSR-generator Image

on:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  IMAGE_BASE_TAG: ${{ vars.registry_uri }}/b0t-at-public/csr-generator

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.branch }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ vars.registry_uri }}
          username: ${{ secrets.registry_username }}
          password: ${{ secrets.registry_password }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: ${{ env.IMAGE_BASE_TAG }}:latest
